.profile {
  .userInfo {
    .title {
      font-size: 40px;
    }
    .text {
      font-size: 30px;
    }
    .buttonGroup {
      text-align: center;

      .button {
        font-size: 30px;
        margin-left: 30px;
        padding: 10px 30px;
        height: 60px;
      }
    }
  }
}